/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  background: #313131;
  justify-content: center;
}

.wrapper{
  height: 265px;
  max-width: 410px;
  background: #fff;
  border-radius: 7px;
  padding: 20px 25px 0;
  transition: height 0.2s ease;
  box-shadow: 0 10px 30px rgba(109, 106, 106, 0.884);
}
.active{
  height: 530px;
}
header h1{
  font-size: 21px;
  font-weight: 500;
}
header p{
  margin-top: 5px;
  font-size: 16px;
}
.wrapper .form{
  margin: 20px 0 25px 0;
}
.form input, button{
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.form input{
  font-size: 18px;
  padding:17px;
  border: 1px solid #313131;

}

.form button{
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  background: #313131;
}
.qr-code{
  opacity: 0;
  display: none;

}
.active .qr-code{
  opacity: 1;
  padding: 33px 0px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  border: 1px solid #ccc;
  transition: 0.5s 0.05s ease;
}
.qr-code img{
  width: 170px;
}

@media (max-width: 430px){
  .wrapper{
    height: 255px;
    padding: 16px 20px;
  }
  .wrapper.active{
    height: 510px;
  }
 
  .form input, button{
    height: 52px;
  }
  .qr-code img{
    width: 160px;
  }  
}